:80 {
    @heavy_convert path /concat /convert /upload-gif
    @heavy_download path /download/*

    reverse_proxy @heavy_convert heavy:8080
    reverse_proxy @heavy_download heavy:8080

    reverse_proxy lite:8080
}
